body {
    margin: 0;
    background: white;
    color: #333;
    font-family: 'Segoe UI Variable Display';
}

.items{
    justify-self: center;
}
.main {
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 50px);
    min-width: 1300px;
}
button, select {
    border: 1px solid #5f8099;
    color: #333;
    background: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    outline: none;
    border-radius: 15px;
    font-weight: bold;
    padding: 10px;
    height: 40px;
}

    button:hover {
        background-color: #88b8dc;
    }

.dropdown-container {
    position: relative;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    select:focus {
        border-color: #0078d4;
        outline: 2px solid #0078d4;
    }

h3, p {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 0px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px white;
    padding-left: 30px;
}
.h1 {
    width: 100cqw;
    background: #5f8099;
    overflow: clip;
    padding-bottom: 20px;
    min-width: 1350px;
}

.panel {
    background: #eee;
    color: #111;
    border-radius: 10px;
    border: solid 2px #5f8099;
    padding: 20px;
}