button {
    background-color: #5f8099;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

    button:hover {
        background-color: #005a9e;
    }

.dropdown-container {
    position: relative;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    padding: 8px 30px 8px 12px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    width: 200px;
}

    select:focus {
        border-color: #0078d4;
        outline: 2px solid #0078d4;
    }

h3, p {
    margin-block-end: 0px;
    margin-block-start: 0px;
}
