
#organagram {
    border: 2px solid #5f8099;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: clip;
    text-wrap: nowrap;
    color: #1a1a1a;
    background: #ffffff60;
    justify-self: center;
    width: 1300px;
    padding-top: 50px;
}

#organagram.exporting {
    border: 0px;
    background: transparent;
    background: transparent;
}


#org-container {
    width: fit-content;
    padding-bottom: 100px;
}

.org-box {
    min-width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    z-index: 10;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #ccc;
    position: relative;
}

.node-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.org-level {
    display: flex;
    position: relative;
}

    .org-level.horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding-left: 50px;
        padding-top: 0px;
        position: relative;
    }

.node-wrapper.horizontal {
    position: relative;
    display: flex;
    flex-direction: unset;
    padding-top: 0px;
}

.hashtag {
    background: transparent !important;
}

.centre{
    align-items: center;
}

.end{
    align-items: flex-end;
}

.start{
    align-items: flex-start;
}

path {
    stroke-linejoin: round;
}

svg{
    overflow: hidden;
}