body {
    font-family: sans-serif;
    text-wrap: nowrap;
}
#organagram {
    border: 2px solid grey;
    border-radius: 10px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: clip;
    margin-left: 50px;
}

#org-container {
    width: fit-content;
    padding-bottom: 50px;
    padding-top: 50px;
}

.org-box {
    min-width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    z-index: 10;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #ccc;
    position: relative;
}

.node-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.org-level {
    display: flex;
    position: relative;
}

    .org-level.horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding-left: 50px;
        padding-top: 0px;
        position: relative;
    }

.node-wrapper.horizontal {
    position: relative;
    display: flex;
    flex-direction: unset;
    align-items: center;
    padding-top: 0px;
}

.hashtag {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 50px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 14px;
}

strong {
    padding-bottom: 4px;
}


