/* General table styling */
.table-wrapper {
    margin: 0px 0px 0px 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    max-width: 200px;
    text-wrap: nowrap;
    overflow: clip;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Alternate row colors */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Light background for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1; /* Slightly darker background for even rows */
}


/* Styling for editable cells */
td[contenteditable="true"] {
    color: #333;
    cursor: text;
    transition: background-color 0.3s ease;
}

    td[contenteditable="true"]:empty {
        color: #bbb; /* Grey color for empty content */
    }

    td[contenteditable="true"]:focus {
        outline: none;
        background-color: #e0ffe0; /* Light green background when focused */
        border: 2px solid #4CAF50; /* Green border on focus */
        max-width: unset;
    }

    /* Hover effect to indicate that the cell is editable */
    td[contenteditable="true"]:hover {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
    }

    td[contenteditable="true"]:focus:hover {
        background-color: #e0ffe0;
        border: 2px solid #4CAF50;
    }

/* Styling for the entire table */
table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th {
    font-size: 1.2em;
    text-align: center;
}

td {
    font-size: 1em;
}

/* Adding some padding and hover effects to the table */
table {
    transition: all 0.3s ease-in-out;
}

.table-wrapper {
    position: relative;
    display: inline-block;
}

.add-column {
    position: absolute;
    top: -12px;
    right: -20px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    cursor: pointer;
    line-height: 26px;
    padding: 0px;
}
